@{
    ViewBag.Title = "Home Page";
}

<main role="main" class="conteneur_Unique body-content">
    <h2>Le Club de Jeux de Roles et de Stratégies de Maisonneuve</h2>
    <p><h4>Le Club de Jeux de Rôles et de Stratégies du Collège de Maisonneuve vous prpopose plusieurs jeux:
        jeux de guerre, de gestion, d'habileté ou encore de chance.
        Notre objectif est d'offrir aux étudiant-e-s un local où il est possible de jouer, 
        de découvrir des jeux de qualité, et même d'en emprunter!</h4></p>
    <p><h4>Que vous recherchiez un joueur, une joueuse ou un-e maitre de jeux,
        les membres du club sont toujours prêts et prêtes à essayer des nouveautés ou à renouer 
        avec de vieux classiques. Mêmes les amateur-e-s de jeux de cartes y trouveront des adversaires de taille.
         Peu importe votre jeu préféré, vous serez les bienvenu-e-s au club!</h4></p>
</main>