<?xml version="1.0" encoding="utf-8"?>
 <configuration>
   <connectionStrings>
     <add name="CJRSMContainer" connectionString="metadata=res://*/Models.DAL.CJRSM.csdl|res://*/Models.DAL.CJRSM.ssdl|res://*/Models.DAL.CJRSM.msl;provider=System.Data.SqlClient;provider connection string='data source=sv55.cmaisonneuve.qc.ca;initial catalog=D75E5;persist security info=True;user id=D75E5;password=Tjud947;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
   </connectionStrings>
 </configuration>