@model CJRSM.Models.DAL.Participant

@{
    ViewBag.Title = "Details";
}

<div class="conteneur_Unique">
    <h2>Vous vous êtes inscrits a l'activité!</h2>

    @Html.ActionLink("Retourner à la liste d'activité", "Index", "Activite", null, null)
</div>
