html{
    background-image:url("../ecaillesX2.png");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

ul, li{
    padding:0;
}

/* -- Option déroulante de la barre de recherche -- */
.etat_Derouler {
  display: none;
}

.cible_Deroulante {
    opacity: 0;
    max-height:0;
    transform: scale(0);
    transition: transform 0.60s ease;
}

.etat_Derouler:checked ~ .cible_Deroulante {
    opacity: 1;
    max-height: 999em;
    transform: scale(1);
    transition: transform 0.60s ease;
}

.etat_Derouler ~ .option_derouler:before {
    content: 'Afficher la barre de recherche';
}

.etat_Derouler:checked ~ .option_derouler:before {
    content: 'Cacher la barre de recherche';
}

.option_derouler {
    cursor: pointer;
    display: inline-block;
    margin-left:5%;
    margin-bottom: 10px;
    color: #dbdbdb;
    background-color:rgb(63, 86, 107);
    font-size: .9em;
    line-height: 2;
    border: 2px solid #1d1d1d;
    border-radius: .25em;
    width:90%;
    text-align:center;
}

/* -- CSS de la table contenant la liste des Jeux, des Documents et des Activitées -- */
.table_Liste {
    margin-left: 15px;
    background-color:#000000;
    border-radius:5px;
    width:95%;
    transition: .80s ease-in;
}

.table_transition{
    transition:all .80s ease-in;
}

.table_Liste tr:nth-child(even) td{
    background-color:rgb(181, 181, 181);
}

.table_Liste tr:hover td{
    background-color:#9bbdd5;
}

.table_Liste tr a:hover{
    transition: color 0.5s;
    color:rgba(255, 255, 255, 0.81);
}

.table_Liste th{
    padding:2px 8px 2px 8px;
    max-height:35px;
    border:3px #585858 solid;
    border-radius:5px;
    background-color:rgb(212, 212, 212);
}

.table_Liste th h4{
    margin:7px;
    font-weight:800;
    letter-spacing:0.5px;
}

.table_Liste td{
    margin: 0;
    text-align: center;
    height: 15px;
    width: 150px;
    border: 1px grey solid;
    border-radius:5px;
    background-color:rgb(212, 212, 212);
}

.table_Recherche{
    margin-left: -45px;
    padding:7px;
    border:4px #151515;
    border-radius: 3px;
    background-color:rgb(63, 86, 107);
    width:104%;
    text-align:left;
    box-shadow: 10px 10px 70px 0 #000000;
}

.table_Recherche th{
    padding:5px;
}

.table_Role tr td:first-child {
    font-style:italic;
    font-weight:600;
    padding-right:-40px;
}

.table_Role tr td{
    padding:15px;
    border:1px black solid;
    border-radius:4px;
    background-color:rgba(255, 255, 255, 0.50);
    box-shadow: inset 1px 1px 5px 0px #000000;
}

.table_Role tr th:last-child{
    padding-left:20px;
}

h2{
    margin-left:50px;
}

.table_Recherche h2{
    margin:0px;
    padding:0px;
    margin-left:30px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

header {
    background-color: rgba(177, 210, 241, 0.20);
    border-radius:6px;
    width: 100%;
    height: 175px;
    padding:0;
    margin:0;
}

.conteneur_Unique{
    background-color:rgba(255, 255, 255, 0.70);
    border-radius:6px;
    margin-top:7px;
    margin-bottom:10px;
    padding-top:10px;
    min-height:450px;
    border:ridge grey;
    padding-left:35px;
    padding-bottom:50px;
}

.conteneur_Deux{
    background-color:rgba(255, 255, 255, 0.70);
    border-radius:6px;
    margin-top:7px;
    margin-bottom:10px;
    margin-left:162px;
    min-height:450px;
    border:ridge grey;
}

.Alignement-Connexion{
    margin-left:100px;
}

.Alignement-Connexion label{
    margin:0 0 0px 15px;
}

.Alignement-Connexion .btn{
    margin:12px 0 0 24px;
}

.Alignement-Connexion a{
    margin-left: 70px;
}

.Alignement-Connexion a:hover{
    transition: color 0.5s;
    color: rgb(255, 255, 255);
}

li h1 a, li h1{
    text-decoration: none;
    color: black;
    margin: 0;
    font-size: large;
    font-style:normal;
}

.navPrincipal li:last-child{
    float:right;
    margin-right:20px;
}
nav li{
    display:inline-block;
    font-size: 18px;
    font-weight: 500;
}
nav li a:hover{
    transition: color 0.5s;
    color:rgba(255, 255, 255, 0.81);
}
.logo_header{
    margin-top:3px;
    margin-left: 30px;
    width:165px;
    height:165px;
}
.cjrsm_header{
    text-decoration:none;
    display:block;
    float:right;
    margin-top:90px;
    margin-right:5px;
    height:100px;
    width:325px;
}
.nav_secondaire{
    width:155px;
    min-height:28pc;
    float:left;
    position: absolute;
    border-radius:6px;
    background-color:rgba(183, 79, 79, 0.5);
    text-align:center;
}

.nav_secondaire a{
    margin:0 10px 0 10px;
    color:#d9d9d9;
    font-weight:400;
}

.nav_secondaire a:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    top:40px;
    left: 8px;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav_secondaire a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

footer .date{
    float:right;
    color:white;
}
nav.principal{
    background-color: rgba(183, 79, 79, 0.71);
    margin-top:5px;
    border-radius: 6px;
    padding:2px;
}
nav.principal ul{
    margin-left:125px;
}
nav.principal li {
    padding-right: 45px;
}

label, .listeDetailMembre{
    font-style:italic;
    list-style:none;
}

.lienModifier{
    margin-left:70px;
    padding:5px;
    border: 1px black solid;
    background-color:white;
    border-radius:5px;
    font-weight:400;
}

input[type=text], input[type=password], input[type=number], input[type=datetime]{
    border: 0.5px black solid;
    border-radius: 3px;
    padding: 3px;
    margin: 8px 0 10px 20px;
    box-shadow: 5px 5px 10px 0 #3b3b3b;
}

input[type=submit], input[type=button]{
    margin:5px;
    margin-top:15px;
    cursor:pointer;
    border-radius:5px;
    box-shadow: 5px 5px 10px 0 #3b3b3b;
}

input[type=submit]:hover, input[type=button]:hover, .lienModifierMDP:hover{
    transform: scale(1.08);
}

.div_lien_ajout{
    margin-left:20px;
    line-height:40px;
}

a{
    color: black;
    margin: 0;
    font-size: large;
    font-style:italic;
}